/* Awesome button css from the internet*/
  
  .btn-yours {
    position: relative;
    margin: 10px auto;
    padding: 16px 22px;
    transition: all 0.2s ease;
  }

  .btn-yours:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background:rgba(240, 165, 0, 0.5);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
    /* z-index: -1; */
  }
  .btn-yours span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
  }

  .btn-yours svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }

  .btn-yours:hover:before {
    width: 100%;
    background: rgb(240, 165, 0);
  }
  .btn-yours:hover svg {
    transform: translateX(0);
  }
  .btn-yours:active {
    transform: scale(0.96);
  }